/********************************************************
 * #################   Color Palette   ##################
********************************************************/

:root {
  /* Dark theme */
  --jet-black: #1b1b1b;
  --black: #2e2e2e;
  --gray: #6c6c6c;
  --light-gray: #c9c9c9;
  --bright-gray: #dedede;
  --red: #ee0001;
  --light-red: #f56d6d;
  --yellow: #feed79;
  --green: #8dc9a2;
  --cyan: #57bedb;
  --blue: #78a1da;
  --purple: #c678dd;
  /* Light Theme */
  --dark-gray: #4d4d4d;
  --dark-red: #be0000;
  --dark-yellow: #f88d44;
  --dark-green: #50a14f;
  --dark-cyan: #04a3cc;
  --dark-blue: #3778c8;
  --dark-purple: #Purple;
}

/* --------  backgrounds  -------- */

/* gradient */

.gradient-bg-dark-gray {
  background: linear-gradient(60deg, var(--jet-black) 0%, var(--black) 50%);
}

.gradient-bg-light-gray {
  background: linear-gradient(
    60deg,
    var(--dark-gray) 0%,
    var(--light-gray) 50%
  );
}

.gradient-bg-bright-gray {
  background: linear-gradient(60deg, var(--bright-gray) 0%, white 100%);
}

.gradient-bg-blue {
  background-image: linear-gradient(
    60deg,
    var(--dark-blue) 0%,
    var(--blue) 50%
  );
}

.gradient-bg-vert {
  background: linear-gradient(var(--dark-gray) 0%, var(--light-gray) 100%);
}

/* solid */
.dark-bg {
  background-color: var(--black);
}

.dark-gray-bg {
  background-color: var(--dark-gray);
}

.cyan-bg {
  background-color: var(--cyan);
}

.gray-bg {
  background-color: var(--light-gray);
}

.green-bg {
  background-color: var(--dark-green);
}

.light-bg {
  background-color: var(--light-gray);
}

/* ------------ colors ------------ */

.black {
  color: var(--black);
}
.blue {
  color: var(--blue);
}

.cyan {
  color: var(--cyan);
}

.dark-cyan {
  color: var(--dark-cyan);
}

.dark-blue {
  color: var(--dark-blue);
}
.dark-green {
  color: var(--dark-green);
}

.dark-gray {
  color: var(--dark-gray);
}

.dark-purple {
  color: var(--dark-purple);
}

.dark-red {
  color: var(--dark-red);
}

.dark-yellow {
  color: var(--dark-yellow);
}

.light-gray {
  color: var(--light-gray);
}

.green {
  color: var(--green);
}

.med-gray {
  color: var(--gray);
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}

.white {
  color: white;
}

.yellow {
  color: var(--yellow);
}

/* 
* ######################  Effects  ####################
*/

.shadow-down-left {
  box-shadow: -2px 6px 14px rgba(23, 25, 30, 0.7);
}

.shadow-down-right {
  box-shadow: 6px 12px 20px rgba(23, 25, 30, 0.6);
}

.shadow-right {
  box-shadow: 5px 0px 20px rgba(40, 44, 52, 0.8);
}

.shadow-in-left {
  box-shadow: inset 8px 26px 10px rgba(40, 44, 52, 0.6);
}

.shadow-in-right {
  box-shadow: inset -20px -20px 20px var(--jet-black);
}

.shadow-in-up {
  box-shadow: inset 0px -26px 20px var(--jet-black);
}

/* .shadow-down-left {
    box-shadow: -8px 16px 24px var(--jet-black);
  } */
