/********************************************************
 * #################   Color Palette   ##################
********************************************************/

:root {
  /* Dark theme */
  --jet-black: #17191E;
  --black: #282c34;
  --red: #e06c75;
  --yellow: #e5c07b;
  --green: #98c379;
  --cyan: #56b6c2;
  --blue: #61afef;
  --purple: #c678dd;
  --gray: #72777F;
  --light-gray: #abb2bf;
  --bright-gray: #d9e1f2;
  /* Light Theme */
  --dark-gray: #5c6370;
  --dark-red: #e45649;
  --dark-yellow: #c18401;
  --dark-green: #50a14f;
  --dark-cyan: #0184bc;
  --dark-blue: #4078f2;
  --dark-purple: #a626a4;
}

/********************************************************
 * ####################   Elements   ####################
********************************************************/

/* For Chrome and Chromium-based browsers only */
@page {
  size: 8.5in 11in;
}

html {
  -webkit-print-color-adjust: exact;
  /* -webkit-filter: opacity(1); */
}

/* Sets the general page format */
body {
  margin: 0px;
  width: 8.5in;
  height: 11in;
  background-size: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 11px;
  line-height: 1.6;
}

header {
  margin: 0;
  padding: 0;
  height: 18px;
  background-color: black;
}

/* Set styling for h1 */
h1 {
  margin: 0px 18px 64px 18px;
  position: relative;
  z-index: 3;
  right: 154px;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 9px;
  color: white;
}

/* set style for h2 */
h2 {
  margin: 30px 50px 10px 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 4px;
}

/* set style for h3 */
h3 {
  margin: 5px 0 5px 0;
  font-size: 14px;
  font-weight: 500;
}
/* set style for h4 */
h4 {
  /* margin: 18px; */
  font-size: 12px;
  font-weight: 500;
}

h5 {
  /* margin: 10px; */
  font-size: 11px;
  font-weight: 500;
}

/* .img {
  width: 100%;
} */

/********************************************************
 * ###################   Classes   ######################
********************************************************/
/* --------  backgrounds  -------- */

/* gradient */

.gradient-bg-dark-gray {
  background: linear-gradient(60deg, var(--jet-black) 0%, var(--black) 50%);
}

.gradient-bg-light-gray {
  background: linear-gradient(
    60deg,
    var(--dark-gray) 0%,
    var(--light-gray) 50%
  );
}

.gradient-bg-bright-gray {
  background: linear-gradient(60deg, var(--bright-gray) 0%, white 100%);
}

.gradient-bg-blue {
  background-image: linear-gradient(
    60deg,
    var(--dark-blue) 0%,
    var(--blue) 50%
  );
}

.gradient-bg-vert {
  background: linear-gradient(var(--dark-gray) 0%, var(--light-gray) 100%);
}

/* solid */
.dark-bg {
  background-color: var(--black);
}

.dark-gray-bg {
  background-color: var(--dark-gray);
}

.cyan-bg {
  background-color: var(--cyan);
}

.gray-bg {
  background-color: var(--light-gray);
}

.green-bg {
  background-color: var(--dark-green);
}

.light-bg {
  background-color: var(--light-gray);
}

/* ------------ colors ------------ */

.black {
  color: var(--black);
}
.blue {
  color: var(--blue);
}

.cyan {
  color: var(--cyan);
}

.dark-cyan {
  color: var(--dark-cyan);
}

.dark-blue {
  color: var(--dark-blue);
}
.dark-green {
  color: var(--dark-green);
}

.dark-gray {
  color: var(--dark-gray);
}

.dark-purple {
  color: var(--dark-purple);
}

.dark-red {
  color: var(--dark-red);
}

.dark-yellow {
  color: var(--dark-yellow);
}

.light-gray {
  color: var(--light-gray);
}

.green {
  color: var(--green);
}

.med-gray {
  color: var(--gray);
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}

.white {
  color: white;
}

.yellow {
  color: var(--yellow);
}

/* 
* #####################  Layout  #######################
*/

.row-group {
  display: flex;
  flex-direction: row;
}

.col-group {
  display: flex;
  flex-direction: column;
}

.left-main {
  flex: 1;
  height: 11in;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /* font-weight: 500; */
}

.j-center-a-i-start {
  justify-content: center;
  align-items: flex-start;
}

.job-title {
  display: flex;
  justify-content: flex-end;
}

.right-below-banner {
  margin-top: -30px;
  margin-right: 50px;
}

.right-main {
  flex: 2;
}

.w-100 {
  width: 100%;
}

/* 
* ####################  Banner  ###################### 
*/
.banner-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-bg {
  position: absolute;
  z-index: 1;
  width: 8.2in;
  /* width: 8.5in; */
  height: 96px;
  top: 0px;
  left: -272px;
}

.banner-block {
  position: relative;
  z-index: 2;
  width: 128px;
  height: 164px;
  top: -35px;
  left: -172px;
}

.photo-frame {
  padding: 6px;
  display: flex;
  position: relative;
  z-index: 3;
  /* background-color: white; */
}

.profile-pic {
  margin: 33px 0;
  width: 150px;
  top: 26px;
  position: relative;
}

/* 
* #####################  Categories  ####################### 
*/

.category {
  align-self: flex-start;
  padding: 10px 50px;
  line-height: 2;
}

.category-title {
  margin: 5px 0px 5px 5px;
  letter-spacing: 1px;
}

/* ----  Skills  ---- */

.category-list {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 18px;
  margin: 0;
  list-style-type: "/  ";
}

.skills-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ----  Education  ---- */

.edu-deg {
  margin: 0 0 0 2px;
}

.edu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px 12px;
  margin: 0 -2px 0 0;
  list-style-type: "> ";
}

.edu-school {
  margin: 5px 0 5px 15px;
}

/* 
* #####################  Contact  ######################
*/

.contact-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-group {
  margin: 20px 0 5px 0;
  padding: 0 0 0 10px;
  width: 100%;
  list-style: none;
  /* list-style-type: ">[ i ]< "; */
}

.contact-group-sub {
  /* justify-content: flex-start; */
  align-items: center;
  margin: 5px 0 0px 0;
}

.contact-item {
  text-decoration: none;
}

.contact-item-p {
  margin: 6px 0 -2px 2px;
}

.contact-item-link {
  margin: 8px 0 8px 0;
}

.icon {
  position: relative;
  padding-right: 6px;
  width: 14px;
  bottom: -2px;
}

.icon-lower {
  bottom: -1px;
}
/* 
* ######################  Effects  ####################
*/

.shadow-down-left {
  box-shadow: -4px 8px 18px rgba(23,25, 30, .7);
}

/* .shadow-down-left {
  box-shadow: -8px 16px 24px var(--jet-black);
} */

.shadow-down-right {
  box-shadow: 6px 12px 20px rgba(23,25, 30, .6);
}

.shadow-right {
  box-shadow: 5px 0px 20px rgba(40, 44, 52, .8);
}

.shadow-in-left {
  box-shadow: inset 8px 26px 10px rgba(40, 44, 52, .6);
}

.shadow-in-right {
  box-shadow: inset -20px -20px 20px var(--jet-black);
}

.shadow-in-up {
  box-shadow: inset 0px -26px 20px var(--jet-black);
}


/* 
* #####################  Experience  ##################
*/

.exp-group {
  justify-content: flex-start;
  height: 100%;
}
.exp-title {
  margin: 5px 25px 0 25px;
  letter-spacing: 1px;
}

.title-right-sm {
  margin: 0px 26px 0px 26px;
  letter-spacing: 1px;
}

.date-group {
  margin: -15px 25px 0px 55px;
  justify-content: space-evenly;
}

.date-item {
  margin: 1px 0px 1px 0px;
  letter-spacing: 1px;
}

.dot-group {
  align-self: flex-start;
  margin-top: 8px;
}
.timeline-dot {
  width: 8px;
  height: 8px;
  /* background-color: black; */
}

.vertical-line {
  position: relative;
  margin: 0;
  width: 2px;
  height: 33px;
  left: 3px;
  /* background-color: black; */
}

/* 
* ####################  Header  ###################### 
*/

.header {
  width: 100%;
  height: 19px;
}

/* 
* #####################  Projects  #####################
*/

.project-link {
  margin: 5px 45px 5px 45px;
  letter-spacing: 1px;
  /* color: black; */
  /* font-weight: 500; */
  text-decoration: none;
}

.project-list {
  margin: 0 0 7px 20px;
  list-style-type: "> ";
}

/* 
* #####################  Summary  ######################
*/

.right-col-group {
  display: flex;
  flex-direction: column;
}
.summary-text {
  margin: 0px 35px 10px 35px;
  line-height: 2;
}

/* 
* #################  Technical Skills  #################
*/

.skill-list-right {
  margin: 0px 10px 10px 0;
  list-style-type: "> ";
}

.tech-skills {
  justify-content: space-between;
  margin: 5px 20px;
  line-height: 1.6;
}

/* 
* #####################  Titles Other  #################
*/

.title-right-lg {
  margin: 8px 35px;
  letter-spacing: 2px;
  color: var(--jet-black);
}

.title-right-md {
  margin: 8px 35px 0 35px;
  letter-spacing: 1px;
  color: var(--dark-cyan);
}

/* 
* ####################  Development  ####################
*/

.stencil-blue {
  background-color: cornflowerblue;
}

.stencil-red {
  background-color: tomato;
}

.stencil-green {
  background-color: aquamarine;
}
