/********************************************************
 * ####################   Elements   ####################
********************************************************/

/* For Chrome and Chromium-based browsers only */
@page {
  size: 8.5in 11in;
}

/* Sets the general page format */
body {
  margin: 0px;
  width: 8.5in;
  height: 11in;
  background-size: 100%;
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
}

header {
  margin: 0;
  padding: 0;
  height: 18px;
  background-color: black;
}

/* Set styling for h1 */
h1 {
  margin: 0px 18px 64px 18px;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 6px;
}

/* set style for h2 */
h2 {
  margin: 30px 45px 10px 10px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
}

/* set style for h3 */
h3 {
  margin: 5px 0 5px 0;
  font-size: 18px;
  font-weight: 600;
}
/* set style for h4 */
h4 {
  margin: 18px;
  font-size: 14px;
  font-weight: 500;
}

h5 {
  /* margin: 10px; */
  font-size: 12px;
  font-weight: 500;
}

/********************************************************
 * ###################   Classes   ######################
********************************************************/

/* 
* ####################  Alignment  ######################
*/

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end ;
}

.align-items-start {
  align-items: flex-start;
}

.align-self-center {
  /* align-self: center!important; */
  align-self: center;
}
.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center !important;
}

.flex-end {
  justify-content: flex-end;
}

.flex-even {
  justify-content: space-evenly;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-start {
  justify-content: flex-start;
}

/* 
* ####################  Banner  ###################### 
*/

.banner {
  width: 8.5in;
  height: 96px;
  top: 0px;
  left: -272px;
}

.banner-item {
  right: 150px;
}

.banner-block {
  width: 128px;
  height: 164px;
  top: -35px;
  left: -186px;
  /* left: -290px; */
}

.profile-pic {
  margin: 33px 0 15px 0;
  width: 150px;
  /* left: -215px; */
}

/* 
* #####################  Contact  ######################
*/

.contact-group {
  margin: 5px 0 5px 0;
  width: 100%;
  align-items: flex-start;
  list-style-position: outside;
  list-style-type: ">[ i ]< ";
}

.contact-icon {
  margin-right: 10px;
}

.contact-item {
  color: white;
  text-decoration: none;
}

.contact-item-link {
  margin: 12px 0 12px 0;
}

/* 
* ####################  Development  ####################
*/

.stencil-blue {
  background-color: cornflowerblue;
}

.stencil-red {
  background-color: tomato;
}

.stencil-green {
  background-color: aquamarine;
}

/* 
* #####################  Display  ######################
*/

.col {
  flex-direction: column;
}

.d-flex {
  display: flex !important;
}

.row {
  flex-direction: row;
}

/* 
* #####################  Education  ####################
*/

.edu-list {
  margin: 0 0 10px 2px;
  list-style-type: "> ";
  /* font-size: 10px; */
}

.edu-deg {
  margin: 0 0 0 5px;
}

.edu-school {
  margin: 5px 0 5px 10px;
}

/* 
* ######################  Images  ###################### 
*/

.round-point-btm {
  padding: 0;
  margin: 2% 4% 2% 2%;
  border: 3px solid var(--white);
  border-radius: 50% 50% 0 50%;
}



/* 
* ######################  Margins  #####################
*/



/* 
* #######################  MISC  ####################### 
*/

.bg-white {
  background-color: white;
}

/* 
* ######################  Padding  #####################
*/

.p-3 {
  padding: 3%;
}


/* 
* ####################  Position  ###################### 
*/

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.stack-0 {
  z-index: 0;
}

.stack-1 {
  z-index: 1;
}

.stack-2 {
  z-index: 2;
}

.stack-3 {
  z-index: 3;
}



/* 
* #####################  Sizing  ####################### 
*/

.col-single {
  flex: 1;
}

.col-double {
  flex: 2;
}

.col-triple {
  flex: 3;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

/* 
* #####################  Skills  ####################### 
*/

.category {
  margin: 5px 25px 5px 25px;
}

.category-title {
  margin: 5px 0px 15px 0;
  letter-spacing: 1px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

.skill-group {
  margin: -2px 0 -2px 0;
}

/* .skill-item {
  
} */

.skill-list {
  margin: 12px 10px 12px 0;
  list-style-type: "> ";
}

.skill-title {
  margin: 0 -25px 0 0;
  width: 100%;
  align-self: flex-center;
  letter-spacing: 2px;
  text-transform: uppercase;
}


